[2015-09-07 11:25] martijn00 opened #6 "Add documentation to SQLite-PCL"
@benschi11 could you add some documetation to the readme file for sqlite-pcl?

[2015-09-11 09:59] benschi11 commented on #6
Fixed in e1534d67679f9251e174ca7331a901de534703d3!

[2015-09-11 09:59] #6 closed

[2015-09-12 22:13] xperiandri opened #8 "Where is an actual source code of MvvmCross.HotTuna.Plugin.SQLitePCL?"
What the fuck???
Where is an actual source code of MvvmCross.HotTuna.Plugin.SQLitePCL?

I cloned this repository opened solution - assembly names different, namespaces different.
How?

I need to extend functionality but can't find where is the source code!!!

[2015-09-13 08:07] martijn00 commented on #8
Don't swear.

The plugin is here: https://github.com/MvvmCross/MvvmCross-Plugins/tree/master/SQLite-PCL

[2015-09-13 08:07] #8 closed

[2015-09-13 11:10] xperiandri commented on #8
I see that it is there.
It is does not correspond to that was posted on NuGet!

So I do changes I want, swap binaries and it does not work.
*Namespaces does not correspond.
*Assembly names does not correspond.
*Runtime exception - cannot find plugin module.

[2015-09-13 11:20] xperiandri commented on #8
@martijn00 could you contact to Author to update repository?
It is impossible not to keep repository up to date!
I lost 3 days, first one for searching where is the correct repository, last two for trying to make this sources produce binaries similar to the binaries in a MvvmCross.HotTuna.Plugin.SQLitePCL package.

[2015-09-13 13:05] Cheesebaron opened #9 "SQLite-PCL nuspec points at wrong assemblies"
https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/nuspec/MvvmCross.HotTuna.Plugin.SQLitePCL.nuspec

Look at the paths, they point at the wrong assembly file names. We need to fix that. This was also pointed out in #8

[2015-09-13 17:46] Cheesebaron commented on #8
I can't fathom that you have spent 3 days searching for the source and producing binaries.

Lets say you were going to have to do this again, what would have helped you finding it?

[2015-09-13 18:48] xperiandri commented on #8
If repository contains sources for more than one NuGet package and especially if it is so confusing as in this repository where are two folders containing SQLite sources than NuGet package property "Project URL" must contain deep link into sources folder.

@Cheesebaron, so where are the actual sources from which `MvvmCross - Sqlite PCL Plugin 4.0.0-beta3` was produced?

[2015-09-14 06:57] Cheesebaron commented on #8
We are phasing out the other SQLite plugins, so in the future there will only be one (just like Highlander). There was a mistake in the Nuspec which points at the SQLite version instead of SQLite-PCL. I will look at that today.

[2015-09-14 08:33] Cheesebaron commented on #9
Nuspec itself does not point the wrong place, but it was mixed with the old assemblies as they were built at the same time. Pushing new packages for SQLite and All Nugets.

[2015-09-14 08:33] #9 closed

[2015-09-14 09:30] xperiandri commented on #8
OK, you updated repository.
But current sources and `MvvmCross - Sqlite PCL Plugin 4.0.0-beta3` don't have too much in common.

My question is: **How to do a quick change to `MvvmCross - Sqlite PCL Plugin 4.0.0-beta3` so I can swap binaries in `packages\MvvmCross.HotTuna.Plugin.Sqlite.4.0.0-alpha3\lib` with my modified version?**

[2015-09-14 10:21] luigisaggese opened #10 "DownloadCache and iOS 9 issue"
I have this error on compiling my project including DownloadCache Plugin:

		Linking SDK only for assembly /Users/luigi.saggese/Projects/myapp/myapp/bin/iPhone/Debug//myapp.exe into /Users/luigi.saggese/Projects/myapp/myapp/obj/iPhone/Debug/mtouch-cache/PreBuild
MTOUCH: error MT2001: Could not link assemblies. Reason: Can't not find the nested type '<<.ctor>b__2c>d__34' in 'Cirrious.MvvmCross.Plug

[2015-09-14 10:48] Cheesebaron commented on #8
What do you mean? There is only the PCL 4.0.0-beta3 and 4.0.0-beta4 now. The other have been unlisted.

To swap just uninstall the old package.

[2015-09-14 12:27] martijn00 commented on #10
On which version of DownloadCache are you? In 4.0-beta3 this was renamed from `Cirrious.MvvmCross.Plugins.DownloadCache` to `MvvmCross.Plugins.DownloadCache`

[2015-09-14 13:12] luigisaggese commented on #10
In 3.5.1

[2015-09-14 13:17] martijn00 commented on #10
Could you try 4.0? There was a lot of refactoring for DownloadCache there.

[2015-09-14 13:24] luigisaggese commented on #10
I must upgrade all packages in that way. Is it backward compatible?

[2015-09-14 13:28] martijn00 commented on #10
Should be mostly compatible, but there are some changes. You should give it a try to see if it works.

[2015-09-14 13:28] luigisaggese commented on #10
Why not to fix 3.5.1?

[2015-09-14 13:45] martijn00 commented on #10
I am not sure it even is a problem in 3.5.1 because when i used that version it worked. But the main reason is that we want to move forward with 4.0. If you try it in there and it still fails we could investigate the problem.

[2015-09-14 14:14] luigisaggese commented on #10
Do you have used 3.5.1 with iOS 9? Because with till iOS 8.4.1 works fine.

[2015-09-14 16:37] xperiandri commented on #8
I mean what I exactly said

Let's compare
<img width="463" alt="mvvmcross-plugins-sqlite repository" src="https://cloud.githubusercontent.com/assets/2365592/9855499/3af3a172-5b17-11e5-9a50-8f73a83f84d8.png">
This is `MvvmCross.Plugins.SQLite` solution opened from the latest commit
<img width="912" alt="mvvmcross-plugins-sqlite" src="https://cloud.githubusercontent.com/assets/2365592/9855520/60f4c9

[2015-09-14 18:50] Cheesebaron commented on #8
The namespace of the SQLitePCL is the same as the old SQLite plugin.

[2015-09-17 14:27] JelleDamen commented on #10
Any solutions on this issue? Did you tried 4.0 yet ?

[2015-09-18 09:03] JelleDamen commented on #10
I've set up an empty project with the new mvvmcross 4.0 beta 3 and the downloadcache plugin can be build with linking. I guess I have to update my whole solution to 4.0. Any news on releasing it? I'm not really confident on using beta packages in production apps.

[2015-09-18 09:06] martijn00 commented on #10
The beta packages already work quite well. We are using them in production. The thing is that there might be some more breaking changes that we want to do, so i guess there will be some more beta versions before the official release.

[2015-09-20 12:38] martijn00 opened #11 "Add dependency SQLite.Net.Async to nuspec for MvxSqlite"

[2015-09-20 12:39] martijn00 commented on #11
Change title

[2015-09-21 12:44] Don2 opened #12 "IMvxComposeEmailTask throws and exception when attaching a file"
I get the following exception when I attach a file to an email using the IMvxComposeEmailTask plugin

java.lang.IllegalArgumentException: File /storage/emulated/0/Android/data/myappname/files/Documents/temp.json contains a path separator

and my code is

((IMvxComposeEmailTaskEx)Mvx.Resolve<IMvxComposeEmailTask>()).ComposeEmail(new[] { address }, null, subject, null, false, new[] { new EmailAttach

[2015-09-23 23:46] whitewolf33 commented on #10
@luigisaggese @martijn00 , I had the same issue building from VS2013 on my PC connected to Mac with XCode 7 and iOS 9.0.1.18 but when I connected to another Mac with XCode 7  with latest of Xamarin IOS (9.0.1.20), I can build successfully. I am updating my Xamarin.IOS on my Mac and will let you know shortly if this is due to version issue in Xamarin.IOS

[2015-09-23 23:52] whitewolf33 commented on #10
Can confirm that this issue is no longer present with

Mac OS Version Details

Mac OS 10.10.5,
Xamarin Studio Version 5.9.7 (build 9) ,
Xamarin IOS 9.0.1.20, and
MvvmCross Cirrious.MvvmCross.Plugins.DownloadCach v3.5.1.

PC Version details (if using Business Edition)
VS 2013
Xamarin  3.11.1443.0
Xamarin.IOS 9.0.1.0

I suggest anyone with this issue to update to Xamarin.IOS 9.0.1.20

Do not forget

[2015-09-25 08:22] #10 closed

[2015-10-02 13:44] JasonBSteele opened #13 "ResourceLoader plugin doesn't pull in File plugin from nuget"
I added the ResourceLoader plugin to my Core, Droid and Touch projects.
I added code to FirstViewModel to read a text file using GetTextResource
However this only worked for Droid. For Touch I got an error saying that the File plugin could not be found. I added the File plugin to Touch and it started working.

I used the current stable nuget packages v3.5.1.

[2015-10-02 13:48] martijn00 commented on #13
As the readme describes you need a filestore to use this on some platforms: https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/ResourceLoader/Readme.md

It might be an idea to include the File plugin by default on iOS into the nuspec.

[2015-10-04 11:58] #13 closed

[2015-10-07 15:43] mfkl opened #15 "MvvmCross.Plugins.Email.Droid apparently gets stripped out when enabling full linking (SDK and User assemblies)"
`mvx:Diagnostic:  2.53 Loading plugin assembly: Cirrious.MvvmCross.Plugins.Email.Droid.dll
10-07 17:26:49.942 I/mono-stdout( 3351): mvx:Diagnostic:  2.53 Loading plugin assembly: Cirrious.MvvmCross.Plugins.Email.Droid.dll
[0:] mvx:Diagnostic:  2.53 Loading plugin assembly: Cirrious.MvvmCross.Plugins.Email.Droid.dll
10-07 17:26:49.992 D/Mono    ( 3351): Assembly Loader probing location: '/Users/bui

[2015-10-20 06:31] IlSocio opened #17 "Commits got lost on new Plugins Repository"
This commit on DownloadCache plugin:
https://github.com/MvvmCross/MvvmCross/pull/1087
seems to got lost when the plugins have been moved to the new repository:

New repo version: https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/DownloadCache/MvvmCross.Plugins.DownloadCache.Droid/MvxAndroidImage.cs

Fixed version: https://github.com/IlSocio/MvvmCross/blob/06fad8e946c83ebd0ebabc45d156b4954

[2015-10-20 08:26] martijn00 commented on #17
Good catch! I am not sure if i could check if more commits are lost, but i'll look into this.

[2015-10-20 15:20] martijn00 commented on #17
Fixed in https://github.com/MvvmCross/MvvmCross-Plugins/pull/18

[2015-10-20 15:20] #17 closed

[2015-10-21 15:39] xleon opened #19 "DownloadCache Plugin (beta4) not always loading image in Android"
I´m using version 4 beta 4 for all the nuggets (but I think this was happening in beta-3 as well)
When I use Json Plugin (required to persist files, right?) I get no errors in the output but the image just doesn´t get loaded some times...
Run the app => image loads ok
Run again => it doesn´t load
Run again => it loads
Run again => it doesn´t load
and so on... same thing in the same sequence

This

[2015-10-21 15:45] Cheesebaron commented on #19
Which plugins do you have installed?
Which bootstrap files do you have?
How do you use the DownloadCache?

[2015-10-21 15:48] xleon commented on #19
I´m creating a new clean project just to reproduce the error. Give me a few minutes and I´ll post it

[2015-10-21 16:20] xleon commented on #19
https://github.com/xleon/DownloadCacheIssue

To answer your questions:
1. DownloadCache, File, Json
2. DownloadCache, File, Json
3. I don´t use it directly, just there in the project to get persistent file cache with [MvxImageView](https://github.com/xleon/DownloadCacheIssue/blob/master/DownloadCacheIssueTest/Resources/layout/FirstView.axml#L7)

[2015-10-22 08:16] Cheesebaron commented on #19
Hmm OK. That is pretty odd.

I really hate that DownloadCache plugin, it is complicated :(

[2015-10-22 10:43] FatCow8686 opened #20 "Dependency resolve failed for ResourceLoader plugin"
I am using MvvmCross 4.0.0 beta-4, and try to add ResourceLoader plugin for my iOS project but it is not added with the following error shown in the console:

Adding MvvmCross.HotTuna.Plugin.ResourceLoader...
Attempting to resolve dependency 'MvvmCross.HotTuna.CrossCore (≥ 4.0.0-beta4)'.
Attempting to resolve dependency 'MvvmCross.HotTuna.Binding (≥ 4.0.0-beta4)'.
Attempting to resolve dependency

[2015-10-22 11:01] martijn00 commented on #20
Thanks for notifying. This is a bug in the nuspec: https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/nuspec/MvvmCross.HotTuna.Plugin.ResourceLoader.nuspec#L37

[2015-10-22 11:04] martijn00 commented on #20
Fixed in: https://github.com/MvvmCross/MvvmCross-Plugins/commit/10d47bbc86d61fa37cb7b52e7fd0bb25572f171b

[2015-10-22 11:04] #20 closed

[2015-10-22 16:36] jokvist opened #22 "SQLitePCL plugin does not work on iOS."
I'm using beta 5 of SQLitePCL Plugin.  This works fine on Android, but not on iOS.
When doing:
`factory.GetConnection("database.db");`
I get:

And I also see this in the build output:

Don't know if that has something to do with it...

[2015-10-22 16:56] xleon commented on #19
Anyway I´ll take a look at the code to see if I can help. Any tips are welcome

[2015-10-22 16:59] xleon commented on #19
Is there anyway to disable the cache functionality without removing the Json plugin?
I´m in the situation that I can´t remove the Json plugin because AppCompat and Fragging depends on it

[2015-10-22 17:50] jokvist commented on #22
Workaround:
Reference SQLite.Net.Platform.XamarinIOS.dll from plugin source manually, since NuGet package `SQLite.Net.Async-PCL` adds `SQLite.Net.Platform.XamarinIOS.Unified` and not `SQLite.Net.Platform.XamarinIOS`.

So maybe this is specific to Unified iOS projects.

BTW: `SQLite.Net.Async-PCL` does not get installed automatically when installing this plugin (it is not a dependency...). Are ther

[2015-10-22 20:02] Cheesebaron commented on #22
The problem is that the Nuspec for the plugin is missing a dependency on SQLite.Net-PCL.

Thanks for reporting this :+1:

[2015-10-22 20:06] #22 closed

[2015-10-22 20:56] Cheesebaron commented on #19
Seems like this fixed it: https://github.com/MvvmCross/MvvmCross/commit/d7733f2fc65b36502f59052bce1bf824948f38b9

[2015-10-22 21:12] Cheesebaron commented on #19
Until next release you can just have your own MvxImageView in your own project which has this fix.

[2015-10-22 21:12] #19 closed

[2015-10-22 21:41] xleon commented on #19
Yeah, I tried that and it definitely works now. Thanks

[2015-10-23 08:57] jokvist commented on #22
Thanks! But I think the workaround still needs to be done in iOS unified projects...
Because this error is seen after manually installing those packages. See my second post where I explains the filename issue in Unified project.

[2015-10-23 16:48] xleon opened #23 "IMvxPictureChooserTask.TakePicture/TakePictureAsync won´t launch camera on Marshmallow"
I was getting a Java.Lang.SecurityException when trying to use the picture chooser plugin:

    Java.Lang.SecurityException: Exception of type 'Java.Lang.SecurityException' was thrown.
	at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw(.args:1337)
	at Android.Runtime.JNIEnv.CallObjectMethod(IntPtr_jobject__IntPtr_jmethod__Android.Runtime.JValue*_parms.args:1337)
	at Android.Content.C

[2015-10-24 15:43] xleon commented on #19
BTW, this change has fixed other problems with MvxImageView. I´m using this component in a MvxListView with the source (ImageUrl) binding to a custom converter. In this case it´s just loading bundle files, not externals. For any reason the image was failing randomly to load on the first/second row of the list. After the fix everything works as it should

[2015-10-26 13:19] baumerik opened #24 "File-Plugin GetFilesIn/GetFoldersIn different behavior on WindowsPhone"
On all other Platforms this function retrieves the full path.
Only on Windows Store and Windows phone you get just the folder or file name

[2015-10-27 13:44] cyrilcathala commented on #19
I also had some bugs with the DownloadCache, the fix seems to work it but... why?!

Another way to fix it is to constrain the Post(...) call and insure it doesn't stack when called multiple times. Here is my implementation:

[code]

[2015-11-06 14:31] #24 closed

[2015-11-06 14:33] martijn00 commented on #11
Fixed in https://github.com/MvvmCross/MvvmCross-Plugins/commit/91eb65b8ffde2836051330cb28dc64e6819aea50

[2015-11-06 14:33] #11 closed

[2015-11-10 17:28] baumerik opened #29 "Picture Chooser returns wrong Image Size on iPhone"
for the PictureChooser-Plugin you can set a maxDimension parameter.
On resizing the image on iOS the returned image does not get the specified size.

Research:
in the Resize method the image use the system defined scaling factor. iPhone 5 we get as Scalefactor 2.0 and so the image was not 1280x960 as expected. it returns 2560x1920.

[2015-11-11 08:58] Cheesebaron commented on #29
I don't think this is a 'fix'. It is intentional to use the display scale to get the correct sized images depending on the screen dpi.

Maybe a better solution would be to give the option to the dev on what to do instead of hardcoding this value.

[2015-11-11 09:35] baumerik commented on #29
But what is the main use case of this plugin?
Take a Picture an directly display it to the user?
In our use case is that we take the picture. Then maybe we will show it to the user but the main target is to send it to a Webserver. On all the other devices the correct image size is returned.
So this a behavior on iOS that is a little bit different than the other platforms.

What is your preferred a

[2015-11-12 04:07] xleon opened #31 "MvxImageCache trouble on Android 21+"
I get a lot of crashes like this. I´m just using MvxImageView normally. No big deal

    System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
	at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource_resource.args:1337)
	at System.Collections.Generic.Dictionary`2+ValueCollection+Enumerator[System.String,MvvmCross.Plugins.DownloadCache.MvxI

[2015-11-30 12:54] baumerik opened #35 "Picture Chooser on Windows phone smash images with exif rotation"
If you choose an image from Library which have a Exif Rotation stored the image is destroyed see Attachments:
* [Image with exif orientation](https://cloud.githubusercontent.com/assets/12232939/11469128/938e97e6-9754-11e5-82da-5a830fe2284d.jpg)
* [Image without exif orientation](https://cloud.githubusercontent.com/assets/12232939/11469129/939425a8-9754-11e5-94a5-ac5ccb6ba788.jpg)
* [Result with ex

[2015-12-07 17:42] robertbaker opened #36 "Is SqlLite published on Nuget?"

[2015-12-07 17:43] Cheesebaron commented on #36
Yes

[2015-12-07 17:43] ghost commented on #36
The readme fails to explain how to install the sqlite plugin. The docs on the main repo are outdated for it.

[2015-12-07 17:46] Cheesebaron commented on #36
There are docs in the readme here: https://github.com/MvvmCross/MvvmCross-Plugins/tree/master/SQLite-PCL

You should just install MvvmCross.HotTuna.Plugin.SQLitePCL from NuGet.

Although I think there is an issue with the SQLite.Net-PCL NuGet the latest version is compiled against.

https://github.com/MvvmCross/MvvmCross-Plugins/issues/22

[2015-12-07 17:47] ghost commented on #36
I see, would be nice if that was in the readme. BTW the whole HotTuna thing is funny but unneccessary.

[2015-12-07 17:48] Cheesebaron commented on #36
Tell @slodge that :smile:

We can unfortunately not rename the nuget package id's. However, we could look into making some without the HotTuna part and tell people to switch.

[2015-12-07 17:51] ghost commented on #36
@slodge HotTuna is confusing becuase I searched on Nuget using the namespace of this plugin, which should have worked. It doesn't because it's HotTuna.

Same goes for Cirrious. I guess the solution is to create new packages with proper ids and deprecate the old ones, remember to update the docs too.

[2015-12-07 17:51] bspinner commented on #36
Wouldn't be the first time Mvx does this for a major release... Could be done another (last) time.

[2015-12-07 17:52] ghost commented on #36
@Cheesebaron @martijn00 @slodge perfect timing to stop all of that for a v4 release.

Makes upgrading to major releases a real PITA too.

[2015-12-07 17:53] Cheesebaron commented on #36
That is a nice idea. Please add all issues of that nature here: https://github.com/MvvmCross/MvvmCross/issues/1190

[2015-12-07 19:05] #36 closed

[2015-12-12 19:45] GhostRussia opened #37 "DownloadCache iOS reuse cell "flickering" images in 4.0.0-beta7"
Hello. In version 3.5.1 it works well, but in version 4.0.0-beta7 I see a problem with the "flickering" images in a table cell.

![downloadcache3 5 1](https://cloud.githubusercontent.com/assets/12181586/11763577/a3867582-a14b-11e5-87ca-1ffbfc68dab5.gif) ![downloadcache4 0 0](https://cloud.githubusercontent.com/assets/12181586/11763578/a46ed1b0-a14b-11e5-85ee-2177133745f0.gif)

[2015-12-12 20:46] Cheesebaron commented on #37
Yes I see it too, also sometimes reused cells show old picture.

[2015-12-13 07:30] ghostiam commented on #37
Experimentally it has been ascertained that the problem is not in DownloadCache.

[2015-12-16 10:44] alexshikov commented on #37
@GhostRussia Why do you think it's not in DownloadCache?
I assume it's there, and related to await/async usage. My guess is we need to introduce CancellationToken, so that if the new ImageUrl set, then we cancel any processing tasks inside MvxDynamicImageHelper

[2015-12-16 10:49] ghostiam commented on #37
@SeeD-Seifer I have added to the project source code DownloadCache version 4.0.0-beta7 and compiled it with the libraries of version 3.5.1 and everything works well.
I think the problem in ImageLoader, but I'm not sure. Unfortunately I can not find the code responsible for the cancellation downloads images in the old versions.

[2016-01-07 10:04] vurtigo opened #41 "DownloadCache Plugin fails to display image on beta7 android"
I'm experiencing a similar issue to that discussed in the closed issue "DownloadCache Plugin (beta4) not always loading image in Android #19"

The code I'm using includes the fix in ImageHelperOnImageChanged https://github.com/MvvmCross/MvvmCross/commit/d7733f2fc65b36502f59052bce1bf824948f38b9

which call SetImageBitmap on the UI thread

The exception I get is as below

[image] Exception :System.A

[2016-01-12 15:08] alexshikov commented on #37
Just a status check: has anybody investigated the issue?

[2016-01-12 15:10] martijn00 commented on #37
I didn't hear about anyone investigating this.

[2016-01-14 09:46] andyci opened #48 "PictureChooser: Invalid save location"
https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/PictureChooser/MvvmCross.Plugins.PictureChooser.Droid/MvxPictureChooserTask.cs#L88 assumes that the device has external storage which is not always the case.  Need to check for this and use internal storage if there is no external storage.

Relevant error message:

Message:

    No such file or directory

Stack Trace:

    System.Runtime.E

[2016-01-14 15:45] Cheesebaron opened #49 "Bait and switch Plugins?"
Would love to not have to have Bootstrap files for each plugins, in a similar fashion that Refit, Splat, ModernHttpClient does.

How to do this is described here:
http://log.paulbetts.org/the-bait-and-switch-pcl-trick/

In short it would mean that Assembly Name, Version and Method structure should be the same in the PCL part of the plugin and the platform part.

So as an example if we take the Pic

[2016-01-14 15:49] martijn00 commented on #49
Yes!!!

[2016-01-14 15:52] Dexyon commented on #49
Agree!

[2016-01-14 15:54] Cheesebaron commented on #49
Well, we would probably still need Bootstrap files if the Plugins need to be registered in the IoC for DI. But could also just be invoked directly if wanted.

[2016-01-14 17:55] lothrop commented on #49
This would only make sense if the plugin doesn't have any code that belongs inside a PCL.

[2016-01-14 19:59] Cheesebaron commented on #49
Care to elaborate @lothrop?

From my understanding any class that is not a facade inside of the PCL should still work just fine as long as there isn't an class and method named exactly the same in the platform specific dll.

[2016-01-14 20:38] lothrop commented on #49
Ah, gotcha, I was thinking the PCL wouldn't be used at all and we'd have to link the common code in using a shared project.

[2016-01-20 17:00] ggirard07 commented on #49
If bait and switch is used then please try to not update/change assemblies versions for the rest of their lives otherwise it could become tricky to manage with NuGet adding some bindingredirect to the app.config file.
https://bugzilla.xamarin.com/show_bug.cgi?id=22670

[2016-01-21 14:02] IlSocio opened #52 "Duplicated source file in FilePlugin implementation + mismatch between WindowsStore and WindowsPhone"
As my understanding the:
https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/File/MvvmCross.Plugins.File.WindowsStore/MvxWindowsStoreFileStore.cs

Should be removed and replaced with the:
https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/File/MvvmCross.Plugins.File.WindowsCommon/MvxWindowsCommonFileStore.cs

Furthermore, the MvxWindwosStoreFileStore.cs seems to to contain a Bug bec

[2016-01-21 14:04] martijn00 commented on #52
Can you open a PR for this?

[2016-01-21 14:35] IlSocio commented on #52
Unfortunately, I have very few time currently and my environment is not configured for working with github... so it will take time.
I just noticed the issue for a file plugin I'm working on right now and thought it would be nice to report it here to keep track of the issue.

[2016-01-28 07:05] iducool opened #53 "Location plugin: Error handling is missing for iOS"
I use location plugin and we found that it is not handling errors. I have looked into code so, I found that it is in To do list :)
Could you add error handling in location plugin?

[2016-02-02 13:31] Vovanella95 opened #57 "SQLite-PCL plugin throws DLL not found exception when using database"
When I add SQLite-PCL plugin into my Visual Studio 2015 project a have "Dll not found exception", because sqlite3.dll is missing. Pleace, fix this problem :)

[2016-02-02 13:54] Cheesebaron commented on #57
What version? What kind of project? Do we have to guess?

[2016-02-02 15:00] Vovanella95 commented on #57
My project have Myproject.Core class library. I installed MvvmCross.StarterPack 4.0.0-beta8, then installed Mvvmcross.Plugin.SQLitePCL 4.0.0-beta8. Then in my FirstViewModel I try to get IMvxSqliteConnectionFactory

[code]

After that launch my Windows Phone 8 project (using MvvmCross.StarterPack 4.0.0-beta8 and MvvmCross.Plugins.SQLitePCL-beta8) I have

[http://cs630416.vk.me/v630416231/16f84/bf0

[2016-02-02 15:23] Cheesebaron commented on #57
You mean Windows Phone 8.1 Universal?

Anyways I believe this might be an issue in the SQLiteNet-PCL nuget and not ours. As that is a dependency. I'll make sure next release uses a newer version if present, hopefully that solves the issue.

But if you are doing a Windows Phone 8 Silverlight project this is a wontfix as it is just not supported.

[2016-02-02 15:42] Vovanella95 commented on #57
I have Windows Phone 8 App (not silverlight and not universal). Simple Windows Phone App. So thank you for quick answering :+1:

[2016-02-02 16:17] Cheesebaron commented on #57
You app must be a WPA81 target otherwise this wont work.

[2016-02-03 10:02] krajniak opened #58 "SQLitePCL not working on IOS in xamarin.forms application"
I'm using MvvmCross.Plugin.SQLitePCL version 4.0.0.0-beta8
It works fine on droid project.
When I'm trying to run IOS on first attempt of using connection instance I'm getting:

[2016-02-03 10:16] Cheesebaron commented on #58
This is most likely related to: https://github.com/MvvmCross/MvvmCross-Plugins/commit/3fd7ddd55dcb686cc05aa595aaa0c84cc8cb9bae#diff-a0b27e4004b7829f50260b7a11045736

Either wait or build it from source.

[2016-02-03 11:00] #58 closed

[2016-02-03 11:04] krajniak commented on #58
As a workaround, you can add the missing reference in iOS project, the needed dll is in lib folder

[2016-02-07 18:50] ghostiam commented on #37
SeeD-Seifer, thank you for the solution of the problem.

[2016-02-07 18:50] #37 closed

[2016-02-14 03:56] thongdoan commented on #57
I have same issue(but with windows phone 8.1 silverlight), fixed it by add SQLite for Windows Phone 8.1 extension(follow:  https://code.msdn.microsoft.com/windowsapps/WindowsPhone-8-SQLite-96a1e43b)

Then add WP8SqliteConnectionFactory.cs (https://gist.github.com/thongdoan/70733e04e43668b30db2)
into your wp8 project, then on method  InitializeFirstChance (Setup.cs) add
Mvx.RegisterSingleton<IMvxSq

[2016-02-17 12:37] chamamo opened #61 "Issue with MvxImageView"
Hi,

On android I'm using MvxRecyclerView with MvxImageView in each item.

Some times I have this issue;

System.InvalidOperationExceptionCollection was modified; enumeration operation may not execute.
System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)throwhelper.cs:94
System.Collections.Generic.Dictionary<TKey, TValue>.ValueCollection.Enumerator.MoveNext()dictionary.cs:

[2016-03-11 16:47] grahampett opened #65 "Picture Chooser Android - Exception prevents Exif rotation when selecting from library"
When using IMvxPictureChooserTask.ChoosePictureFromLibrary() on Android, the method GetRealPathFromUri is returning null, causing a Java.Lang.IllegalArgumentException from the Android.Media.ExifInterface constructor in ExifRotateBitmap. This is handled by the try/catch block in LoadScaledBitmap, but returns the image without applying the correct rotation (e.g. for photos taken by devices that set

[2016-03-16 01:19] rickduarte commented on #57
Thank you @thongdoan!
This works for Windows Phone 8.0 Silverlight too.
Just one thing: The code for RegisterSingleton is
`Mvx.RegisterSingleton<IMvxSqliteConnectionFactory>(() => new Wp8SqliteConnectionFactory());`

[2016-03-16 02:54] eshy commented on #57
I don't remember if support for WP8 silverlight was dropped in MVX4 or not but at least for this plugin the only difference from the other Windows plugins would be the returned CurrentPlatform (returning SQLitePlatformWP8).

I have it working on a local fork, I can create a PR if it makes sense

[2016-03-18 14:27] alexshikov commented on #31
Do you actually get the crash or just trace in Xamarin.Insights (or another crash reporting tool)?

[2016-03-18 15:59] xleon commented on #31
That was a long time ago. I think this was solved in a newer release but I´m not 100% sure (I didn´t use the plugin anymore). Sorry I can´t help better

[2016-03-18 17:00] alexshikov commented on #31
The thing is I see similar stack trace on Xamarin Insight. But I'm pretty sure, that the app actually is not crashed.

[code]

[2016-03-21 22:20] Chery opened #67 "MethodBinding and FieldBinding plugin does not install correctly in UWP project"
To help us fix your issue, please provide the information in the below template.
Adding MvvmCross.Plugin.MethodBinding or MvvmCroos.Plugin.FieldBinding to an UWP project will make the project to fail to compile.

https://github.com/Chery/UWPMvxMethodBindingError

### Steps to reproduce

1. Create UWP project

2. Add MvvmCross.Plugin.MethodBinding pluging (or MvvmCross.Plugin.FieldBinding)

3. Try

[2016-03-22 08:05] Cheesebaron commented on #67
Tried adding the MvvmCross.Bindings NuGet manually?

[2016-03-22 09:16] CherechesC commented on #67
@Cheesebaron I am kind of new to working with Nuget. Can you please elaborate on what you mean by adding it manually? I did edit the project.json file and added the dependency for MvvmCross.Binding, but that does not fix the issue. As far as I saw, there is no UAP target in the nuspec file for MethodBinding and FieldBinding. Could this cause the issue?

[2016-03-22 10:31] Cheesebaron commented on #67
It should pick the one from the lib\dotnet folder in the NuGet, so the nuspec is ok for UWP/UAP

[2016-03-22 13:44] Cheesebaron opened #68 "Remove dependency on bindings from SQLite-PCL from platform specific projects"
It shouldn't be needed at all. Probably a leftover from something.

[2016-03-22 13:54] alexshikov commented on #61
This is the same issue as https://github.com/MvvmCross/MvvmCross-Plugins/issues/31

[2016-03-22 13:57] Cheesebaron commented on #61
Closing this one, please continue in #31

[2016-03-22 13:57] #61 closed

[2016-03-22 14:13] alexshikov commented on #41
The stack trace above happens because the MvxImageView disposed between `ImageHelperOnImageChanged` and `SetImageBitmap()` methods call. This issue is fixed by this commit https://github.com/MvvmCross/MvvmCross/commit/382647d14b8eff07cd2ac579afa8da83718ad12f

Though, there is actually another case which also described above (when the Bitmap disposed when `SetImageBitmap()` called for existing MvxI

[2016-03-22 15:30] alexshikov commented on #41
Simple project with reproduce and solution described/implemented https://github.com/SeeD-Seifer/MvxBitmap

[2016-03-22 19:36] keozx opened #70 "Implement IsConnected property in Network Plugin"
### Steps to reproduce

1. Well there is not IsConnected property, @aritchie has one in his repo which I modified a bit but it's not being updated: https://github.com/aritchie/acrmvvmcross/blob/master/Acr.MvvmCross.Plugins.Network/INetworkService.cs

### Expected behavior
When accessing the IsConnected you can tell if the device is actually connected to Internet instead of using IsHostReachable

#

[2016-03-22 20:16] Giorgi opened #71 "Read from stream during deserialization"
To help us fix your issue, please provide the information in the below template.

MvxJsonRestClient reads the whole response stream in memory as string. [This can cause unnecessary memory allocations.](http://www.newtonsoft.com/json/help/html/performance.htm) See code at: https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/Network/MvvmCross.Plugins.Network/Rest/MvxJsonRestClient.cs#L27

###

[2016-03-22 21:18] #67 closed

[2016-03-22 22:53] Cheesebaron commented on #71
We would need to extend https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/Json/MvvmCross.Plugins.Json/MvxJsonConverter.cs to allow deserializing streams.
And extend this interface to reflect that: https://github.com/MvvmCross/MvvmCross/blob/4.0/MvvmCross/Platform/Platform/Platform/IMvxTextSerializer.cs

Json.Net can do that with something like this:

[code]

[2016-03-22 23:03] Cheesebaron commented on #70
https://github.com/Cheesebaron/Cheesebaron.MvxPlugins/tree/master/Connectivity

I have a plugin that works. Otherwise there is always the one @JamesMontemagno has which can easily be wrapped in a MvvmCross plugin.

[2016-03-22 23:05] keozx commented on #70
Ah that's true! didn't had that in the radar, thanks!

[2016-03-22 23:05] #70 closed

[2016-03-23 11:30] Cheesebaron opened #75 "No need for Interlocked in Image Cache"
As mentioned [here](https://github.com/MvvmCross/MvvmCross-Plugins/pull/69#issuecomment-200271492):

Should be OK to remove the Interlocked.Exchange

[2016-03-23 21:17] SharpMobileCode opened #78 "Download Cache Plugin Does Not Have Dependency For System.Collections.Immutable Nuget Package"
On an iOS application we're using the MvxImageLoader to load images into UIImageView controls.  When we upgraded to Mvvmcross 4.1, we noticed that our images were no longer loading and defaulted to the ErrorImage.  Upon further inspection, it appears that the IMvxImageCache was failing to resolve here:

https://github.com/MvvmCross/MvvmCross-Plugins/blob/93a82fce924b0a058e3fd55bbf2b4e3aaf3e061e/Do

[2016-03-23 21:47] Cheesebaron commented on #78
You are right. I guess I forgot to add it yesterday :) Thanks!

[2016-03-23 21:48] #78 closed

[2016-03-24 14:04] smstuebe opened #79 "** obsolete **"
** obsolete ** accidentally posted my issue here instead of the mvvmcross repo

[2016-03-24 15:23] #79 closed

[2016-03-24 21:33] ThomasLebrun opened #80 "SQLite-PCL plugin throws NullReferenceException when using Mvx.Resolve<IMvxSqliteConnectionFactory>()"
### Steps to reproduce

I'm trying to use the SQLite-PCL plugin (version 4.1) in a Windows UWP app, using MvvmCross 4.1.
I've added the Bootstrap class:

`public class SqlitePluginBootstrap
        : MvxPluginBootstrapAction<PluginLoader>
    {
    }`

But every time I tried to resolve the IMvxSqliteConnectionFactory, I get an NullReferenceException:

`public DatabaseManager()
        {

[2016-03-25 08:29] #80 closed

[2016-03-25 08:30] ThomasLebrun commented on #80
Nevermind, stupid issue on my side, sorry for the inconvenience... :)

[2016-03-29 08:23] martijn00 opened #81 "Investigate changes in SQLite on Android N"
I am not sure if you are aware, but there are a lot of changes coming in Android N that will effect all sorts of apps. The largest change that effects libraries that you have a dependency on will be SQLite. I haven't looked into the the implementation, but I am assuming that it is relying on the built in SQlite.so in Android itself. Starting with Android N apps can no longer use system native libr

[2016-03-29 10:55] Cheesebaron opened #82 "Ask for permissions on Android Marshmallow"
A lot of our plugins need permissions to operate on Android Marshmallow and up. The new model is that each first time a feature is used that require a permission, a dialog appears prompting the user to either allow or deny access.

Currently we ignore this and plugins are probably not working correctly on Marshmallow if app is targeted for API level 23 and up.

[2016-03-29 11:08] Cheesebaron commented on #23
This is related to #82

[2016-03-29 13:05] xleon commented on #82
Instead of implementing such thing in every plugin, what about a global permissions plugin that other plugins could use? Kind of this: https://github.com/jamesmontemagno/Xamarin.Plugins/tree/master/Permissions

[2016-03-29 13:53] Cheesebaron commented on #82
It takes like 2 classes to wrap that plugin @jamesmontemagno made for permissions. I guess we could do that. Although, this would mean that the user will have to add:

[code]

In their Activities, which is OK I guess. Otherwise MvvmCross should do that internally. Not sure which.

[2016-03-29 15:40] Cheesebaron commented on #82
I've created #83 for this.

[2016-03-30 12:27] Cheesebaron commented on #81
Xamarin does not have any support for Android N, so can't debug or deploy from VS or XS to an AVD or device running Android N.

Filed a bug report here: https://bugzilla.xamarin.com/show_bug.cgi?id=39964

[2016-03-31 11:04] alexshikov commented on #75
This is done. Can be closed.

[2016-03-31 11:13] #75 closed

[2016-03-31 11:15] alexshikov commented on #31
This issue should be fixed.

[2016-03-31 11:16] #31 closed

[2016-03-31 11:34] SeeD-Seifer opened #84 "Allow to use FusedLocationProvider as Android plugin"
**Request:** Provide option to use FusedLocationProviderApi as location service on Android.

**Existing implementation:** https://github.com/MvvmCross/MvvmCross/pull/1134

**Concerns:**

- Currently implemented as another plugin. Because, it have to use the same namespace (due to bootstrap specific) it is impossible to use both plugins.

- If the device does not have **Google Play Services**, then

[2016-03-31 11:41] martijn00 commented on #84
I think this should be a new one. Because in the nuspec we should define a dependency on GooglePlayServices, and we wouldn't want to do that with the old plugin.

[2016-03-31 11:43] thefex commented on #84
Please CC me when repository starts. I have a lot of experience with Fused Location API, I can help.

[2016-03-31 11:46] thefex commented on #84
Concerns:
If the device does not have Google Play Services then FusedLocationProviderApi won't work (the old plugin will) - no. FusedLocationAPI gives ability to notify user about errors + it can navigate user to store and download/update Google Play Services.
Besides that: current Plugin architecture isn't good enough to expose all Fused API functionallity. It should be rewritten.

[2016-03-31 11:48] alexshikov commented on #84
@thefex could you please review the existing implementation then? This is a PR to 3.5.x https://github.com/MvvmCross/MvvmCross/pull/1134 (I was going to adapt it to 4.x)

[2016-03-31 11:49] martijn00 commented on #84
Maybe we could open a new branch with the original PR, so you can both work on it?

[2016-03-31 11:50] alexshikov commented on #84
I'll prepare a PR.

[2016-03-31 11:53] thefex commented on #84
Ok guys - give an exact link of which implementation I should take care of. Will look at that on Saturday

[2016-03-31 12:11] Giorgi opened #85 "Network plugin should use tasks instead of callbacks"
Rest client methods should return `task` instead of taking callbacks as parameter. This will make the plugin async/await friendly.

**Platform:** iOS/Android/WPF/Windows Store/Windows Phone Store/Windows UWP

[2016-03-31 12:17] martijn00 commented on #85
Can you make a PR to fix this?

[2016-03-31 12:19] Giorgi commented on #85
I can if I have some free time in next few days.

[2016-03-31 14:14] alexshikov commented on #84
@thefex Please, check PR #86

[2016-03-31 19:01] Giorgi commented on #85
I also want to convert it to HttpClient so that I can keep ability to cancel the request but it will be difficult to test that the converted version works correctly. Any suggestions how can we test it?

[2016-04-01 08:11] Giorgi commented on #85
@martijn00 Can you review the PR I made?

[2016-04-04 11:24] martijn00 commented on #85
As for me it looks fine, but as you already pointed out this is breaking. How does @Cheesebaron feel about this?

[2016-04-05 14:59] chanti-github opened #89 "Location Not Getting updated"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1. Click On Button in First Screen

2. It will take you to second screen and showing

3. It is showing 0 ,0 and tested in htc one x(android platform)

### Expected behavior
it should give lat/lng values

### Actual behavior
it shows 0,0 values
### Configuration

**Version:** 4.0.0

**Platform:

[2016-04-05 15:37] joashmusyoka opened #90 "Adding File and DownloadCache plugin leads to compile error in android project"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'System.Collections.Immutable, Version=1.1.37.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'System.Collections.Immutable.dll'
   at Xamarin.Android.Tuner.Direct

[2016-04-05 16:42] Cheesebaron commented on #90
Thanks for filing this issue.

To get it working add the System.Collections.Immutable NuGet. Reason the dependency was removed is because it won't install in iOS projects, because the profile that NuGet is using is not supported.

[2016-04-05 16:45] musyokamuthangya commented on #90
Thanks. Will do that tomorrow and close the issue.

Thanks again
On 5 Apr 2016 19:42, "Tomasz Cielecki" notifications@github.com wrote:

[2016-04-05 16:47] Cheesebaron opened #91 "Figure out System.Collection.Immutable dependency on iOS"
If you try adding the System.Collections.Immutable NuGet to an iOS project, you get a nice message telling you that `System.Resources.ResourceManager` does not have a target for Xamarin.iOS and the installation fails.

I suggest that we either implement our own immutable list or take the one from Mono: https://github.com/mono/ImmutableCollections/blob/master/System.Collections.Immutable/System.Col

[2016-04-05 16:51] Cheesebaron commented on #89
Thanks for opening this issue. Please use and fill out the issue template. Closing it for now until actual details are provided.

[2016-04-06 05:41] musyokamuthangya commented on #90
Resolved the above issue but app crashes when deployed.

MvvmCross.Platform.Plugins.MvxFilePluginManager.FindPlugin (System.Type toLoad) - Could not find plugin type in assembly

[MvxFilePluginManager.cs](https://github.com/MvvmCross/MvvmCross/blob/4.0/MvvmCross/Platform/Platform/Plugins/MvxFilePluginManager.cs#L50)

[2016-04-06 06:11] musyokamuthangya commented on #90
Resolved above as well, it was the linker stripping away necessary code

[2016-04-06 06:13] #90 closed

[2016-04-06 07:03] PelleRavn commented on #91
I haven't had the problem with adding System.Collections.Immutable from Nuget on any of our machines.
But I think it would be a good idea not to be depended on System.Collections.Immutable for the DownloadCache plugin.

[2016-04-06 08:20] PelleRavn opened #92 "Bootstrapper for PictureChooser can't resolve .iOS.Plugin"
### Steps to reproduce

1. Download PictureChooser Plugin for a Mvx project

2. Build all projects

### Expected behavior
Build without any build issues

### Actual behavior
The file with PictureChooserPluginBootstrap tells it can't resolve 'MvvmCross.Plugins.PictureChooser.**iOS.Plugin**'.

### Configuration

**Version:** MvvmCross 4.1.0. PictureChooser 4.2.0

**Platform:** iOS

[2016-04-06 09:06] Cheesebaron commented on #92
Thanks for reporting this issue.

This should be fixed in 4.2.1 for some reason the dll wasn't published in the nuget.

[2016-04-06 09:06] #92 closed

[2016-04-06 09:25] Cheesebaron commented on #91
I can't add it in Visual Studio in a iOS project.

[2016-04-06 09:47] PelleRavn commented on #91
Is there anything stopping us for copying the ImmutableList file to the MvvmCross project? The license should of course stay there. Don't know if it conflicts with the license MvvmCross is distributed as.

[2016-04-06 16:21] ericsink commented on #91
In my case, this problem was "fixed" by installing version 1.1.36 (not the latest) of the nuget package for System.Collections.Immutable.

It looks like 1.1.37 switched to the new "dotnet" style dependencies.

[2016-04-11 12:59] #71 closed

[2016-04-11 13:01] #52 closed

[2016-04-12 08:10] chanti-github commented on #89
I Attached the test project and steps to reproduce please give me solutions.

[2016-04-14 10:47] Giorgi commented on #85
This is now merged.

[2016-04-14 10:47] #85 closed

[2016-04-14 12:01] jamsoft commented on #91
Installing 1.1.36 in iOS worked for me.

[2016-04-14 12:16] voydz commented on #91
For me the latest DownloadCache Plugin depends upon `System.Collection.Immutable >= 1.1.37` downgrading is no real option unfortunately.

[2016-04-14 14:53] SlyNet commented on #91
Same with Mono. Nuget fails with error message
`Could not install package 'System.Resources.ResourceManager 4.0.0'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v5.1'`

[2016-04-19 10:13] mierzynskim opened #95 "Missing change in Download cache plugin"
While updating Download cache plugin from 3.5 to 4.1.1, I noticed that something strange happened to **MvxFileDownloadCache** class.
You can compare:

- current version https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/DownloadCache/MvvmCross.Plugins.DownloadCache/MvxFileDownloadCache.cs

- 3.5.* version https://github.com/MvvmCross/MvvmCross-Plugins/blob/41270db4fd281b205488dc1d372f0454a

[2016-04-19 10:25] martijn00 commented on #95
Hmm not sure why it is gone, but if you could make a new PR to add this again, we could merge it.

[2016-04-19 13:42] mierzynskim commented on #95
Ok I made a new PR #96

[2016-04-19 13:51] #95 closed

[2016-04-25 10:34] chanti-github commented on #89
Any Update on this Please ??

I think GetBestProvider method always returning when i have gps and network based providers and using gps i never get the location , by using network based i got location please hepl me on this ..

[2016-04-25 19:11] thefex opened #99 "Async Based location plugin - Feature request"
Sometimes there is a need for Asynchronous Location based plugin. (Start, Stop, Get-Location methods returning Task). Some applications are location based and cannot work without retrieving location first - so asynchronous plugin model simplifies a lot.

[2016-04-25 19:50] alexshikov commented on #99
I have all this stuff implemented in core project ILocationService.

[2016-04-25 19:51] thefex commented on #99
Can you provide link to this implementation? I can't see that.

[2016-04-25 19:55] alexshikov commented on #99
I'm sorry for misleading. I meant this logic usually implemented depending on the particular project.
Here is an example of one of the LocationService implementation to get location on startup using async approach https://gist.github.com/SeeD-Seifer/153de5d46ffb9a06fae778110e0ce864

[2016-04-25 20:01] thefex commented on #99
I see. Well it's wrapping actual implementation to async based. I am implementing pure async LocationWatcher atm to make it simpler.

[2016-04-25 20:29] thefex commented on #99
You can see the way it is going to be implemented in https://github.com/thefex/MvvmCross-Plugins/commit/e638e3362c3efac71b877f03fb8a9890ea729d15, started to implementing this one. You can take idea of implementing mocked location detection in "classic" fused location too.

[2016-04-25 22:49] willsb opened #100 "Introduce a local storage/preferences/settings plugin"
Is it interesting to have a plugin to store simple Key/Value pairs using `NSUserDefaults`/ `ISharedPreferences`/`IsolatedStorageSettings` on iOS/Android/Windows Phone?

It could be similar to [James Montemagno's](https://github.com/jamesmontemagno/Xamarin.Plugins/tree/master/Settings), but also having an index that allows getting and setting string values:

[code]

I use such plugin in most of my

[2016-04-26 15:39] ferrydeboer commented on #82
I'd like to see if I can contribute to this issue. My question is how do you test these plugins when writing them? I mean it might be convenient to be able to debug. Do you have some local test projects or am I simply missing something in the repo?

[2016-05-02 20:12] smstuebe commented on #49
So this is similar to the https://github.com/jamesmontemagno/Xamarin.Plugins. Does it make sense to maintain two different branches of plugins. Or would it make more sense to combine forces at least for trivial plugins that do not use mvx functionality?!

[2016-05-02 20:14] Cheesebaron commented on #49
We have talked to @jamesmontemagno about this and I think moving forward we would contribute our plugins after they have been converted to match the template he uses. Then in MvvmCross just describe how to use those plugins with our IoC.

[2016-05-02 20:15] Cheesebaron commented on #100
I have one as well specifically for MvvmCross. I can't see why another one would help at all.

[2016-05-02 20:17] smstuebe commented on #49
Ye that is exactly what I thought.Good to hear. With my Fingerprint- and our BLE plugin we are going the same way.

[2016-05-04 07:42] GnoZ commented on #91
Same as @SlyNet with MonoAndroid,Version=v6.0

[2016-05-06 17:13] domedellolio commented on #90
Thanks guys you did my day!

[2016-05-09 15:29] martijn00 commented on #84
I think this is fixed now @SeeD-Seifer ?

[2016-05-09 15:29] #84 closed

[2016-05-09 17:03] alexshikov commented on #84
@martijn00 it can be closed, right.

[2016-05-13 12:07] martijn00 commented on #91
Fixed in https://github.com/MvvmCross/MvvmCross-Plugins/pull/106

[2016-05-13 12:07] #91 closed

[2016-05-13 12:08] #41 closed

[2016-05-25 08:32] ghost commented on #78
When updating to v4.1.1 I got the following error:

Manually adding v1.1.36 and sticking to v4.1.0 worked though.

[2016-05-25 08:32] Cheesebaron commented on #78
4.1.7 of the plugin does not have this issue.

[2016-05-25 08:33] NielsWillems commented on #78
Cheers

[2016-05-26 08:54] JasonBSteele opened #108 "Test projects and SQLite"
We have a Test project in XS which references MvvmCross.Plugins.Sqlite.Wpf and has a test setup which includes:

    using MvvmCross.Plugins.Sqlite.Wpf;

    var connectionFactory = new WindowsSqliteConnectionFactory();
    Ioc.RegisterSingleton<IMvxSqliteConnectionFactory>(connectionFactory);

When the tests try to connect to the database they get the error:
SetUp : System.TypeInitializationExcep

[2016-05-27 16:17] cbrammer opened #110 "FieldBindings events not triggered in NUnit Test Project"
### Description

Field bindings do not fire changed events when being run inside of unit tests. They do however work fine in iOS/Android projects.

### Steps to reproduce

1. Install the latest NUnit and FieldBindings plugin
2. Put the following test code in https://gist.github.com/cbrammer/bf5820cd1cd9be8d07c65daa3402c0ca
3. Run the test

### Expected behavior
The event should have fired

### Act

[2016-05-28 13:19] promontis commented on #78
@Cheesebaron This isn't pushed to nuget yet right?

[2016-05-30 08:57] Cheesebaron commented on #78
It is in the stuff on nuget.

[2016-06-02 14:19] fedotovsi commented on #48
Are any progress about it?
It seems fixing is really straightforward, maybe there is something particular reason not to do it  otherwise I think I can make pull request. What do you think about?

[2016-06-02 14:21] Cheesebaron commented on #48
You are welcome to do a PR.

[2016-06-02 20:01] brentafis opened #111 "MvvmCross.Plugins.File.WindowsCommon bug in EnsureFolderExists"
A fully specified (rooted) path is not accounted for in EnsureFolderExists on WindowsUWP (which uses the WindowsCommon FileStore plugin).  As a result the full path is created as a series of subdirectories off the rootFolder.

For example:
rootFolder = c:\path\to\root\
folderToCheck = c:\path\to\root\folder\to\check
EnsureFolderExists(folderToCheck)
--> expected result =>  c:\path\to\root\folder\t

[2016-06-02 20:04] brentafis commented on #111
Working version that properly accounts for fully specified `folderPath` parameter.

[code]

[2016-06-11 19:25] jaeger25 opened #113 "Bootstrap files do not get created for Windows UWP app"
To help us fix your issue, please provide the information in the below template.

https://github.com/EvaRichie/MySimpleMvvmCross
See https://github.com/MvvmCross/MvvmCross/issues/1255, which looks like it was closed for some reason
1. Create PCL project and windows UWP app project and install MvvmCross nuget packages
2. Attempt to add MvvmCross.Plugins.Visibility to the projects
### Expected behav

[2016-06-11 20:25] jaeger25 commented on #113
Looks like this may actually be an issue with nuget 3.0 not copying Content dir anymore: https://docs.nuget.org/create/uwp-create

[2016-06-28 18:45] dlpopescuw commented on #12
This happens because in the class **MvxComposeEmailTask** (https://github.com/MvvmCross/MvvmCross-Plugins/blob/master/Email/MvvmCross.Plugins.Email.Droid/MvxComposeEmailTask.cs), you have this piece of code inside the method ComposeEmail:

_using (var localFileStream = activity.OpenFileOutput(
                            file.FileName, FileCreationMode.WorldReadable))
                        {

[2016-06-28 18:49] dlpopescuw opened #116 "Permission error on Gmail 5.0"
To help us fix your issue, please provide the information in the below template.

### Steps to reproduce

1. Install latest version of the email plugin
2. Try to attach an image to a Gmail using the plugin
3. Eror is thrown after choosing Gmail for sharing the pictures

### Expected behavior
Images should be shown inside email's body

### Actual behavior
Gmail throws an error "Denied permission fo

[2016-06-28 18:59] dlpopescuw commented on #116
TEMP WORKAROUND:
1. Create a method ComposeEmail with the same signature as the method of the MvxComposeEmailTask class, inside the Android fragment
2. Inside the method, replace this code:

[code]

with this one:

[code]

where file.FileName is actually the file path
3. Inside the PCL, instead of calling Mvx.Resolve<IMvxComposeEmailTaskEk>().ComposeEmail[...]: send a custom message, which contain

[2016-07-06 20:41] tbalcom opened #119 "You must call EnsureLoaded on the File plugin before using the DownloadCache"
The update from 4.2.0 to 4.2.1 seems to sometimes cause issues if the project uses the DownloadCache and File plugins.  When this happens an exception is thrown during setup

During the update NuGet shows an error claiming the various `Bootstrap` files can not be found.  The files are present and have not been modified from the originals.  It's not clear to me why NuGet can't see these files.

I'v

[2016-07-07 08:26] Cheesebaron commented on #119
Why are you not using bootstrap?

[2016-07-07 08:27] Cheesebaron commented on #119
Have you tried deleting the bootstrap files and adding them again?

[2016-07-07 13:47] tbalcom commented on #119
Deleting the bootstrap files and adding the packages back via NuGet didn't change anything. The Droid project has the following plugins:
1. Color
2. Json
3. Location
4. Messenger
5. ResourceLoader
6. Sqlite
7. WebBrowser

How does MvvmCross ensure the plugins are loaded in the correct order when one plugin depends on another plugin?

[2016-07-14 13:36] Zolee007 commented on #119
I have run into the same problem, however I didn't delete the `Bootstrap` files, I have overriden the `DownloadCachePluginBootstrap`'s `Load`method to ensure the File plugin gets loaded before the DownloadCache plugin.

[code]

[2016-07-15 09:55] IlSocio commented on #119
I faced the same issue too, thanks for the fix Zolee

[2016-07-16 12:58] alfredp77 commented on #119
I'm on iOS, and MvvmCross 4.2.2. Putting in just Zolee's workaround doesn't work, I got the following exception:

In addition to Zolee's workaround, I need to do the following:
- Force the File.PluginLoader to be registered by overriding AddPluginsLoaders in Setup:

[code]
- Subclass MvxLoaderPluginBootstrapAction and override PreLoad method to prevent the File.PluginLoader to be re-registered the

[2016-07-17 09:22] g0rdan commented on #53
Hi guys! I made some improvements, but it's not full.
I can't find description of kCLErrorDomain error codes. I determined some values in practice, but i can't find all of them. One more issue. I don't find the way, how i can check MonitoringFailed method.
I'm newbie. Can i just send pull request to master? Or i should make something else?

[2016-07-17 18:14] Cheesebaron commented on #53
You can find the error codes here: https://developer.apple.com/library/mac/documentation/CoreLocation/Reference/CoreLocationConstantsRef/#//apple_ref/c/tdef/CLError

When you want something added to the plugin, just make a pull request

[2016-07-22 20:17] alexsorokoletov commented on #119
Just ran into the same issue, @Zolee007 's fix helped.

[2016-07-24 09:29] g0rdan commented on #116
Hello, @dlpopescuw !
I'm trying reproduce a bug, but i can't. In my case, image perfectly attached to email.
Plugin version - 4.2.2
Android 5.1

[2016-07-26 05:49] khaledsawwaf opened #122 "MvvmCross-Plugins/ResxLocalization/ needs an explaination!"
### Steps to reproduce

1. Create a new Xamarin PCL project.

2. Applying MvvmCross standard on this project.

3. ResxLocalization plugin installed.

### Expected behavior
There should be an explanation for this plugin.

### Actual behavior
I can't apply this functionality.. all references are from 2013 and it's plugins are no longer supported!

### Configuration

**Version:** VS2015 / Xamarin For

[2016-07-26 07:40] chanti-github commented on #89
Any Updates on this issue ?? @Cheesebaron

[2016-07-28 13:03] Zolee007 commented on #119
Now that I also started to develop the iOS side of my application, I also run into the problem as @alfredp77 . I looked into the source code a bit to try to figure out the difference between the Android and iOS plugin loading.

I found that `MvxIosSetup`'s `CreatePluginManager` method creates a simple `MvxPluginManager`, while `MvxAndroidSetup`'s `CreatePluginManager` method creates an `MvxFilePlu

[2016-07-28 13:22] lothrop commented on #122
I added more information to https://mvvmcross.com/v4.2/docs/resxlocalization but the basic information was already there. The reference from 2013 is still relevant and supported.

[2016-07-28 13:22] #122 closed

[2016-07-28 19:42] LeRondPoint opened #124 "PictureChooser does absolutely nothing! Hangs using Async"
I'm trying to get a picture using the plugin but it does absolutely nothing.  I even tried using the source directly but I get no error message whatsoever in the console or in the device logs.  I do have permission from the user to access camera and/or photo library (using permissions plugin).  My guess is that it crashes in a separate thread, I can't see where however.  Many are using this plugin

[2016-07-28 20:08] sgravel-dev commented on #124
Stripped down project replicating the issue!

[TestPicture.zip](https://github.com/MvvmCross/MvvmCross-Plugins/files/389252/TestPicture.zip)

[2016-07-29 01:13] sgravel-dev commented on #124
Had a flash.  It's Mvvmcross.Forms that doesn't handle modals!

https://github.com/MvvmCross/MvvmCross-Forms/issues/30

[2016-07-29 01:13] #124 closed

[2016-07-29 14:07] chanti-github commented on #65
i am also facing the same issue Any Updates ??

i am getting the following stack trace :
Problem seem in Exit Rotate IllegalArgumentException: filename cannot be null
      at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /Users/builder/data/lanes/2098/3efa14c4/source/mono/external/referencesource/mscorlib/system/runtime/exceptionservices/exceptionservicescommon.cs:1

[2016-07-31 21:23] flaviusdemian commented on #119
@alfredp77 @Zolee007 I get this on iOS now... On a project it worked, on the current one I get this:

System.ArgumentException: Cannot create an instance of UpWorky.Mobile.iOS.Employee.NoPreLoadPluginBootstrapAction`2[TPlugin,TPlatformPlugin] because Type.ContainsGenericParameters is true.

Do you have some suggestions?

Thanks

[2016-08-02 21:56] trevorchunestudy commented on #119
I tried @Zolee007 's solution and had same problem that @alfredp77 had.  As opposed to the latter workaround, I just went back and used the old manual registration in Setup.cs which has changed slightly from previous versions.  I also removed the Bootstrap files for now until this get's sorted out.

This works fine for 4.2.2.

[code]

[2016-08-03 00:49] flaviusdemian commented on #119
I will check in a few hours. Thanks

[2016-08-03 19:51] leye0 commented on #81
As of today we can deploy on N. There is this nice article about the usage of SQLite on N. http://ericsink.com/entries/sqlite_android_n.html

[2016-08-04 13:51] lisannefoget commented on #119
I ran into the same issue as @alfredp77, and @Zolee007's first workaround fixed it for me on Android. Once I started on iOS, @Zolee007 's workaround to add this into the Setup.cs worked great!

`protected override IMvxPluginManager CreatePluginManager()`
`{`
        `return new MvxFilePluginManager(".iOS", ".dll");`
`}`

I didn't have to remove any of the original Bootstrap files or manually regis

[2016-08-09 16:28] Cheesebaron commented on #89
I can't reproduce on my Nexus 6P

[2016-08-10 05:48] chanti-github commented on #89
@Cheesebaron  I am using HTC One X and able to reproduce the issue. I uploaded the solution at this location https://github.com/chanti-github/NetworkExample.git. can you please check and let me know if i am doing any thing wrong.

On 09-Aug-2016 9:58 PM, "Tomasz Cielecki" notifications@github.com wrote:

[2016-08-10 18:49] Dexyon commented on #89
The first time, the location provider could not retrieve a location, so it returned 0,0 and updated the UI. Every other incoming the `onLocation` method was called, it gave my correct location.

The only thing is that the UI is never updated, but I assume you known that.

My testing device(s) were a Nexus 5X and Nexus 4

[2016-08-15 08:02] Cheesebaron commented on #119
@SeeD-Seifer any idea what is going on? I haven't debugged this yet, but seems like the MvxPluginManager does not pick up some plugins.

[2016-08-19 09:05] chanti-github commented on #65
Any Updates ??

[2016-08-19 09:44] Cheesebaron commented on #119
OK. So I've been debugging a bit. The problem seems to be that the `Load` method is called in the order the bootstrap files are discovered?

So if I remove the boostrap files for File and DownloadCache and make a new where both are defined in this order:

[code]

It seems to work fine.

If I swap the order in the file to:

[code]

💥  everything blows up...

How this worked before I have no idea, m

[2016-08-19 10:08] alexshikov commented on #119
@Cheesebaron I'll review the thread and the code later today and let you know when find the reason of the issue. Highly suspect this is somehow related to my changes.

[2016-08-19 10:23] Cheesebaron commented on #119
@SeeD-Seifer I am not sure it is actually your changes that did it. However, rather @promontis' changes which explicitly ask for the File plugin.

I think we need to do something about discovering dependencies in Plugins and fix load order.

[2016-08-21 00:13] alexshikov commented on #119
@Cheesebaron you was right, @promontis commit broke the plugin loading.

Apart from direct fix I have noticed few things:
1. DownloadCache plugin depends on File plugin implementation, but there is no NuGet dependency. I understand why it's exist in current way, but wouldn't it be easier to make DownloadCache dependent on File? I hardly believe there is anybody using custom implementation of IMvxS

[2016-08-21 11:30] promontis commented on #119
Ah yes,  the commit I did eager loads the File plugin, which it shouldn't do. The fix from @SeeD-Seifer fixes that, awesome!

I agree that the dependencies between plugins, the loading of them, and the order in which they load should be fixed. Already bumped my head several times because of it. I did talk to @martijn00 at the last mvvmcross meetup we had about this... maybe he can jump into this c

[2016-08-21 23:58] martijn00 commented on #119
@promontis Yes, to manually register the plugins could be a temporary solution. I would like to look into how we can make a proper fix in combination with moving the plugins to Net Standard (PCL) based setup. @Cheesebaron already looked into this a bit in https://github.com/MvvmCross/MvvmCross-Plugins/pull/63#issuecomment-191451635

[2016-08-22 08:59] alexshikov commented on #119
To ensure plugins loaded in the same order **MvxBootstrapRunner** should be updated.
This is the method from [MvxBootstrapRunner.cs](https://github.com/MvvmCross/MvvmCross/blob/4.0/MvvmCross/Platform/Platform/Platform/MvxBootstrapRunner.cs):

[code]

Simple solution is to always sort types by Name or FullName.

[2016-08-22 09:00] Cheesebaron commented on #119
That would solve it? F comes after D?

[2016-08-22 09:05] promontis commented on #119
Haha... that's what I first did as well :) sorting the plugins by name. Now I just manually register the plugins, so that I minimize the performance hit of using reflection.

[2016-08-22 09:08] alexshikov commented on #119
@Cheesebaron when I launched **MvvmCross-Samples/WorkingWithCollection** project which uses File and DownloadCache plugins I was surprised, it didn't crash with MvvmCross 4.2.3 NuGet packages. It appeared, for some reason MvxBootstrapRunner loaded File plugin first, just because `assembly.CreatableTypes()` returned this type first.

Hacking MvxBootstrapRunner to sort types lead to stable reproduce

[2016-08-23 06:59] #119 closed

[2016-08-31 21:22] #100 closed

[2016-09-08 11:04] Nickolas- opened #132 "Picture Chooser Android Exception"
To help us fix your issue, please provide the information in the below template.
A

After updating MvvmCross plugins to latest stable version start receiving exception.
[code]

 <package id="MvvmCross" version="4.1.0" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Binding" version="4.2.3" targetFramework="MonoAndroid60" />
  <package id="MvvmCross.Core" version="4.2.3" targetFramework

[2016-09-08 11:38] RyanBuzzInteractive opened #133 "MvxSqliteConnectionFactory.GetConnection("dbName") is throwing an exception on iOS 6"
When trying to get a connection on iOS 6 (I know, I know, client requirement....) the new sqlite implementation throws an exception:

`2016-09-08 12:14:53.435 TescoPAYGiOS[470:2c03]
Unhandled Exception:
0   TescoPAYGiOS                        0x001318a7 setup_stack_trace + 108
1   TescoPAYGiOS                        0x0013014b mono_handle_exception_internal + 1624
2   TescoPAYGiOS

[2016-09-08 11:46] Cheesebaron commented on #133
This plugin simply wraps https://github.com/praeclarum/sqlite-net. I suggest you try opening an issue there. I can't test on iOS 6 since I don't have _any_ devices running that _old and deprecated_ operating system.

[2016-09-08 11:48] Ryan-Palmer commented on #133
Sure, understood. I have fought tooth and nail to not have to support it, believe me. I'll try opening an issue there, cheers dude :)

[2016-09-08 11:56] Cheesebaron commented on #133
It is strange that anyone wants to support less than 3% of total iOS distribution share. It is not worth the time...

[2016-09-08 12:06] Ryan-Palmer commented on #133
Yeah, I know. They are probably one of the biggest telecoms providers in the UK and a small percentage of their user base is still a significant number of customers apparently. We are also supporting back to Android 2.3 and were doing Windows Phone 8 until Mvx dropped PCL support for Silverlight. All the fun.

[2016-09-08 13:01] Ryan-Palmer commented on #133
I know this isn't relevant for you guys per-se but I think it might be because apparently sqlite3_close_v2 was only added in sqlite 3.7.14 and iOS 6 runs 3.7.13

ref:
http://stackoverflow.com/questions/14288128/what-version-of-sqlite-does-ios-provide
https://github.com/aspnet/EntityFramework/issues/3870

[2016-09-08 13:42] ericsink commented on #133
BTW...

I just noticed you guys are now taking a dep on sqlite-net-pcl.

That package takes a dep on SQLitePCL.bundle_green, which I maintain as part of SQLitePCL.raw, and which is simply a meta-package that implements a policy for "which instance of the SQLite library should be used".

And the particular policy of bundle_green is "use the SQLite provide by iOS, but on every other platform, use a

[2016-09-09 09:30] Ryan-Palmer commented on #133
Hey guys - Just for your info, I got my hands on an iPhone 4 today running iOS 7 and i'm getting the same problem :/ I will try a separate test project to check it's nothing else causing it, but it is fine on iOS 8 and 9. Very strange. I am guessing that you would consider iOS 7 support still kind of relevant? (genuine question). I have put this on the sqlite-net issue too, but I thought I would u

[2016-09-09 10:46] Cheesebaron commented on #133
Personally I don't consider iOS 7 super relevant. Just like iOS 6 it only holds a ~4% share, which I find very insignificant and not worth supporting.

[2016-09-09 10:55] Ryan-Palmer commented on #133
Understood. I completely get that you have to focus the limited community efforts where they are most useful and you guys do an amazing job (and you in particular have helped me personally on a number of occasions). It does kind of make it difficult to move forwards with MvvmCross in our enterprise projects where the clients require us to support their customer base (which in this case does not re

[2016-09-09 12:19] ericsink commented on #133
@RyanBuzzInteractive So you have a broad issue here about MvvmCross and its support for iOS 6/7.

However, the specific issue in play is about part of the SQLite wrapper library.

Let us suppose for the moment that the specific issue is the only instance of the broad issue.  :-)

In that case, I would see no reason to throw out all of MvvmCross.  Compared to the overall effort of writing an app, w

[2016-09-09 12:24] Cheesebaron commented on #133
Well in this particular case we are not really in control of what happens in the external NuGet package which we simply wrap around. So we can't do much about that. Just as @ericsink says.

As for other parts of the code that potentially does not run on iOS version X, I think the case is very limited in case of MvvmCross, I don't think we have actively done anything to break that support. Obviousl

[2016-09-09 12:35] Ryan-Palmer commented on #133
Oh completely, I wasn't criticising at all and there are things that can be done of course. I just found myself in a position where we tried out the whole system on all platforms before we started, have built the entire core and  basically finished the Android version, and then came back to iOS and found that the most recent update has stopped it running on 6 and also 7 it seems. I can't hold back

[2016-09-09 12:50] ericsink commented on #133
BTW, I just realized there is a simple way to deal with the specific SQLite/sqlite-net issue.  Silly of me not to think of it sooner.  It should require no code changes in any of the involved libraries.  It's just a matter of how things get initialized.  I'll spare you the details for now.

But it'll only work after @praeclarum and I get sqlite-net switched over to the 1.0 release of SQLitePCLRaw,

[2016-09-09 12:51] Ryan-Palmer commented on #133
Dude, if you pull that off I will be forever in your debt! I owe you both a beer at least haha. Email me your paypal addresses and i'll send one over :)

[2016-09-09 12:57] Cheesebaron commented on #133
@ericsink When you get that out of the door, I'd be happy to update the Mvx plugin and push out new NuGet packages for it.

[2016-09-11 11:14] erviem99 opened #135 "SQLitePCL crash on Android 7"
Are there any requirements for using the new MvvmCross SQLitePCL Plugin on Android 7 other than including the Nuget packages?

My app will run fine on real devices below API level 24, but in the Android 7 emulator it crashes immediately on startup with an java.lang.UnsatisfiedLinkError: "couldn't find "libmonodroid.so".

The same app would just show a toast on Android 7 prior to migrating to the n

[2016-09-11 18:41] Cheesebaron commented on #135
Are you using SharedRuntime and a Debug build or what are you attempting?

[2016-09-11 19:15] erviem99 commented on #135
Problem solved. I didn't link my app for the x86_64 architecture, and for some reason it would still deploy (but it crashed on launch). After adding both armeabi-v7a and x86 it work on both the emulator and my phone. Sorry about that.

[2016-09-11 19:15] #135 closed

[2016-09-15 20:39] leye0 opened #136 "Missing documentation"
The link to the blog has almost nothing to do with the plugin. The plugin wraps the code in the blog and would need extra infos about how to configure it or where to put the .resx file.

### Steps to reproduce

1.

2.

3.

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Configuration

**Version:** 4.x

**Platform:** iOS/Android/WPF/Windows St

[2016-09-16 08:34] Cheesebaron commented on #136
You forgot to mention which plugin and what blog post.

[2016-09-16 13:08] leye0 commented on #136
Oh damn. I forgot to document my issue about missing documentation.

This is about ResxLocalization. The documentation says to refer to someone's [blog post](http://opendix.blogspot.ch/2013/05/using-resx-files-for-localization-in.html). But it is not obvious even when reading the whole code how the .resx file will be detected, what are the 3 parameters, etc. A complete flow and an explanation of .

[2016-09-16 13:13] Cheesebaron commented on #136
Now that you are familiar with it, you could try expand on https://mvvmcross.com/docs/resxlocalization if it is not fulfilling enough.

[2016-09-20 17:23] LeRondPoint opened #137 "JsonLocalization: MvxTextProviderBuilder virtual call in constructor"
In it's constructor, MvxTextProviderBuilder calls its LoadResources method which refers to the virtual property ResourceFiles.  This is an issue as we might access stuff that isn't completely initialized yet, as we well know.

My specific use-case is that I'm passing my default text type key as a parameter to my text provider class.  I also use reflection to find all ViewModels and create the mapp

[2016-09-20 17:25] sgravel-dev commented on #137
Workaround :

[code]

[2016-09-21 13:39] ericsink commented on #133
FWIW, SQLitePCLRaw 1.0 is out, and its bundled iOS SQLite libs have been compiled for compatibility back to iOS 6.

But the job to be done here is for sqlite-net-pcl to update its deps to SQLitePCLRaw 1.0, since the pkg ids have changed.

[2016-09-21 14:06] Ryan-Palmer commented on #133
Ok cheers dude, much appreciated :). Is that  @praeclarum's decision?

[2016-09-21 14:19] ericsink commented on #133
Yes.  The PR:

praeclarum/sqlite-net#449

[2016-09-22 11:22] LIST2 commented on #90
Hello (hope someone still has an eye on this thread),
I've been running into the same (above described) problem using Mvvmcross V4.2.2

My test project (based on example https://www.youtube.com/watch?v=e-ZKgO8fTw4&list=PLR6WI6W1JdeYSXLbm58jwAKYT7RQR31-W&index=3) compiled and run just fine with following NuGet packages loaded:
package id="MvvmCross" version="4.2.3" targetFramework="monoandroid60"
p

[2016-09-22 11:24] LIST2 commented on #90
Packages have been cut out of my previous post...
package id="MvvmCross" version="4.2.3" targetFramework="monoandroid60"
package id="MvvmCross.Binding" version="4.2.3" targetFramework="monoandroid60"
package id="MvvmCross.Core" version="4.2.3" targetFramework="monoandroid60"
package id="MvvmCross.Platform" version="4.2.3" targetFramework="monoandroid60"
package id="MvvmCross.Plugin.File" version="

[2016-09-24 15:51] flaviusdemian commented on #119
Hy Guys, this is a bit confusing...can somebody put a gist with the whole correct steps? I am using the Support JASlider also. Maybe this adds some problems as well.

`
                               Window = new UIWindow(UIScreen.MainScreen.Bounds);

[code]

In the Setup class I have

`protected override IMvxIosViewPresenter CreatePresenter()
        {
            return new MvxSidePanelsPresente

[2016-09-27 14:58] Cheesebaron opened #139 "Subsequent calls to FusedLocation's Stop throws Java.Lang.IllegalStateException"
### Steps to reproduce

1. Start listening to location

2. Stop listening (ok)

3. Stop listening (not ok)

### Expected behavior
Subsequent calls should be ignored as we are already stopped

### Actual behavior
IllegalStateException is thrown telling GoogleApi is not connected

### Configuration

**Version:** 4.3.0

**Platform:** Android

Quick fix would be to check weather `Started` is true befo

[2016-09-27 19:10] Cheesebaron commented on #119
This is fixed in 4.3.0

[2016-09-27 19:39] flaviusdemian commented on #119
Thank you very much.

[2016-11-04 20:29] farlop opened #143 "[UWP]Plugins PictureChooser PluginLoader can`t load"
Some time ago an UWP PictureChooser issue was asked to be created in this repository for follow up, but I've found no further reference in here

[https://github.com/MvvmCross/MvvmCross/issues/1258](https://github.com/MvvmCross/MvvmCross/issues/1258)

Today I was trying with version 4.4 and same error happened to me

[2016-11-04 20:38] Cheesebaron commented on #143
You need to add bootstrap file for it manually.

[2016-11-04 20:52] farlop commented on #143
I've already done that. After adding the bootstrap file:

using MvvmCross.Platform.Plugins;

[code]

On launching I've got an MvxException at setup.Initialize()  with message: could not load plugin assembly for type MvvmCross.Plugins.PictureChooser.PluginLoader.

I've checked that project has reference to MvvmCross.Plugin.PictureChooser assembly and that on bin\x64\Debug the MvvmCross.Plugins.Pict

[2016-11-04 21:33] Cheesebaron commented on #143
I see the problem it looks for WindowsUWP and WindowsCommon, but it is the WindowsStore dll that is added to the project.

[2016-11-04 21:38] farlop commented on #143
I supposed that, but I haven't found any version of the dll for UWP in the package. Platform targets for the package does not include 'uap10.0', which is found in other plugins (SQLitePCL for example).

[2016-11-04 21:39] Cheesebaron commented on #143
Let me see if I can cook it up for WindowsUWP, otherwise if you want to have a stab at it feel welcome to do so.

[2016-11-04 22:02] eshy commented on #143
The plugin has a WindowsStore dll which I think works fine in UWP projects if you override CreatePluginManager and add the .WindowsStore dll postfix. Is there  a reason not to always search for WindowsStore if WindowsUWP or WindowsCommon don't exist?

[2016-11-04 22:05] Cheesebaron commented on #143
I don't think it is correct to always dump win8.1 into UWP projects? What happens if you run that on a phone? Wouldn't it expect wpa8.1 in that case?

[2016-11-04 22:06] eshy commented on #143
I guess so, I haven't actually tried it...

[2016-11-04 23:37] Cheesebaron commented on #143
https://github.com/MvvmCross/MvvmCross-Plugins/tree/picturechooser_uwp

I've added an UWP implementation. It is just linking in the Store version as the API seems to be the same.

I don't have a Windows Phone around so can't test on that.

[2016-11-04 23:38] Cheesebaron commented on #143
You can try this nuget locally and see if it works for you.

[MvvmCross.Plugin.PictureChooser.4.4.1.nupkg.zip](https://github.com/MvvmCross/MvvmCross-Plugins/files/572843/MvvmCross.Plugin.PictureChooser.4.4.1.nupkg.zip)

[2016-11-05 12:37] farlop commented on #143
I've tried on my W10M and now it doesn't throw any exception, the camera launches and the picture is taken and confirmed! But when I want to bind it to a Image control in the View it looks awkward. Please find it in the attached file.

![wp_ss_20161105_0001](https://cloud.githubusercontent.com/assets/2676254/20030059/5d273800-a35d-11e6-8176-befb41bf1dea.png)

The code used is this (Xamarin Forms):

[2016-11-05 13:12] Cheesebaron commented on #143
What is Photo and what is ImageSource?

I've only tried with a picture from the file picker which worked.

[2016-11-05 13:18] farlop commented on #143
Photo is a Xamarin.Forms.ImageSource that I use for binding with the view. Let me show you the full relevant code for the ViewModel:

[code]

And this is the View:

[code]

I'm using Xamarin.Forms + MVVMCross

[2016-11-05 14:14] Cheesebaron commented on #143
Must be something wrong with the conversion of the stream to bitmap in Forms.

If I use the native Image view and the MvxInMemoryImageValueConverter it works just fine.

![capture](https://cloud.githubusercontent.com/assets/249719/20030696/773f4be4-a36a-11e6-8826-0ec09562befa.PNG)

As you can see I captured a picture of my mug just fine.

[code]

And View:

[code]

[2016-11-05 19:43] farlop commented on #143
As I'm using Xamarin.Forms for sharing the views (and TBH I'm all new in this Xamarin world), I will keep using Xam.Plugin.Media which seems to work just fine with similar implementation.

Anyway, the issue with the UWP assembly seems to be solved, so thank you for your help!!

[2016-11-06 22:33] farlop opened #145 "[UWP] MvvmCross.Plugins.Messenger -> UWP Platform need to be added to portable library"
In order to use this plugin (and maybe others) in UWP, the platform should be enabled at project properties.

[2016-11-07 09:03] Cheesebaron commented on #145
What do you mean with "platform should be enabled at project properties"?

[2016-11-07 18:18] farlop commented on #145
Yesterday I found troubles trying to use the Messenger plugin in the UWP project. After cloning the repository, configuring 'Windows Universal 10.0' in the core project properties and linking to the compiled ones it started to work again. So I though that it should be something similar to #143 . I'll give it a try again tonight and let you know if it still fails using the current published nuget p

[2016-11-07 18:33] Cheesebaron commented on #145
Nah, it is probably the PCL profile that is wrong in the nuspec and maybe also wrong profile in the PCL. Will have a look.

[2016-11-07 18:40] #143 closed

[2016-11-10 16:02] Chico741 opened #146 "MvvmCross.Plugin.PictureChooser"
Would it be possible to add a flag to
[code]
which control whether the front or back camera will be opened?

**Version:** 4.3

**Platform:** iOS/Android

[2016-11-10 16:39] Cheesebaron commented on #146
I am not sure if the Intent for Android supports picking which camera to grab from.

It seems UIImagePickerController does support it.

[2016-11-10 16:41] Cheesebaron commented on #146
This could work for Android: http://stackoverflow.com/a/40175503/368379 needs testing.

[2016-11-15 22:02] LeRondPoint opened #147 "DownloadCache dependency incompatibility with Forms"
The dependency change to Android.Support.Compat v.24.2.1 causes issues with Xamarin Forms.  The fact it requires version 24 of an Android library causes a duplicate JAR with version 23 that Forms requires.

[code]

[2016-11-18 12:53] gentledepp opened #148 "DownloadCache plugin causes SIGSEGV crash on Android"
When using MvxImageView with local images (i.e. local file paths), from time to time the application crashes with a SIGSEGV error and without any stacktrace or a stacktrace that contains "SKBitmapRef..."

This bug seems to exist since DownloadCache 3.5.1 - so many users downgraded to 3.5.0.

I was finally able to track down the error and will post a PR sool with a fix.

The bug is also prominent o

[2016-11-23 11:34] Chico741 commented on #146
Any news about it? :)

[2016-11-23 16:23] Cheesebaron commented on #146
I'll have a look tonight :)

[2016-11-23 19:58] Cheesebaron commented on #146
Those extras from the SO answer I found don't seem to work. I've looked around in various open source camera apps and none of them seem to respect these extras :-/

[2016-12-05 10:15] PereAlmendro opened #151 "dbCon = new SQLiteConnection("FilmsDB.db3"); dbCon = _sqliteConnectionFactory.GetConnection("FilmsDB.db3");"

[2016-12-05 10:22] #151 closed

[2016-12-05 11:17] PereAlmendro opened #152 "Null reference exception following readme steps"
### Steps to reproduce

1.  `private readonly IMvxSqliteConnectionFactory _sqliteConnectionFactory;`
2.  `SQLiteConnection dbCon;`
3. `dbCon = _sqliteConnectionFactory.GetConnection("dbname");`

### It seems that `new SQLiteConnection(string,bool)` is throwing the exception.
### Expected behavior
connect /set database

### Actual behavior
Object reference not set to an instance of an object.
Null

[2016-12-05 12:47] Cheesebaron commented on #152
What exception?
Where is the stack trace?

[2016-12-05 13:12] PereAlmendro commented on #152
I did `new SQLiteConnection(x,y) ` and had same issue so I believe that the problem is not in this plugin. -.- sorry for making loose your time. I get confused as getconnection method returns a new SQLiteConnection(). Furthermore I cant send stacktrace as I have IOS in a place and Win10 at home and with win10 i cant debug due to the downloadCache plugin I believe. but the problem i'm getting is te

[2016-12-05 13:12] #152 closed

[2016-12-06 15:17] martijn00 commented on #147
This is a problem with Forms. It has a fixed dependency on Support v23.3.0 while we want to use the newer Support packages. Try talking to the Forms people to update their dependencies.

[2016-12-06 15:19] sgravel-dev commented on #147
I'm aware of that.  I'm using 4.2.0 in the mean time,  There was no code update I think so why the update in the dependencies?

[2016-12-06 15:23] martijn00 commented on #147
Because we also updated the dependencies for MvvmCross-AndroidSupport.

[2016-12-06 15:31] sgravel-dev commented on #147
You don't use MvvmCross-AndroidSupport in DownloadCache...

[2016-12-06 15:37] martijn00 commented on #113
This should be fixed in newer Nuget versions.

[2016-12-06 15:37] #113 closed

[2016-12-06 17:02] Cheesebaron commented on #147
@LeRondPoint no but we use Xamarin.Android.Support in DownloadCache for some Compat methods.

[2016-12-06 17:04] Cheesebaron commented on #15
Please open a new issue if this is still an issue. Closing as it is stale.

[2016-12-06 17:04] #15 closed

[2016-12-06 17:07] Cheesebaron commented on #53
This should be addressed by 59d33a4

[2016-12-06 17:07] #53 closed

[2016-12-06 17:08] Cheesebaron commented on #81
We've switched to sqlite-net-pcl which uses sqlite-net-pcl.raw which works on Android N.

[2016-12-06 17:08] #81 closed

[2016-12-09 10:35] orzech85 commented on #139
I have tested that and I can't reproduce it.

[2017-02-24 17:46] danieleardissone opened #154 "MvxFileStore FullPath Customization"
Hello,
in MVVMCross 3.5 I was able to customize the FullPath property of MvxFileStore with a different path instead of the default one; I created my implementation of that class and overrided that property.
Something like this:

`internal class CustomMvxAndroidFileStore : MvxFileStore
{
    private Context _context;

    private Context Context
    {
        get
        {
            if (_context

[2017-02-25 11:44] Cheesebaron commented on #154
Please open this in the main repository :)

[2017-02-25 11:44] #154 closed

[2017-03-31 18:50] Jerome2606 opened #155 "Plugins.Sqlite Database locked"
Hello,

I'm using the plugin to use Sqlite. IMvxSqliteConnectionFactory

I use this in my baseRepository:
`protected readonly SQLiteAsyncConnection Connection;

        public BaseLocalRepository(IMvxSqliteConnectionFactory factory)
        {
            Connection = factory.GetAsyncConnection("mydb.db");`

But recently I got some "Database locked" and "Busy" exception.
I come to this forum:
https

[2017-04-26 09:29] luigisaggese commented on #119
@Cheesebaron I have same issue on 4.4.0 (In release mode -> Linking All assemblies)
This workaround still work to solve (inside Setup.cs)

[code]

[2017-04-26 13:45] Cheesebaron commented on #119
So `MvxFilePluginManager` gets linked away?

This issue is about order of plugins being loaded. Not linking issues.

[2017-04-26 13:57] luigisaggese commented on #119
Yes MvxFilePluginManager is linked away and with this method overriding i have solved it